html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vfrc-widget {
  position: relative !important;
  width: 100%;
  height: 100%;
  inset: initial;
  overflow: auto; /* Allows scrolling within the widget if content overflows */
}

.vfrc-widget--launcher {
  display: none !important;
}

.c-kedLSQ {
    flex-shrink: 1 !important;
}

.vfrc-widget--chat {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  max-width: none !important;
  max-height: none !important;
  overflow-y: auto; /* Allows vertical scrolling if the content overflows */
}

@media (max-width: 600px) {
  .vfrc-widget--chat {
    /* Adjust size and position for smaller screens if necessary */
    top: 10% !important;
    left: 10% !important;
    right: 10% !important;
    bottom: 10% !important;
    width: auto !important;
    height: auto !important;
    max-width: 80% !important; /* Limit width to prevent the chat from covering the entire screen */
    max-height: 80% !important; /* Limit height to ensure part of the background page is visible */
    border-radius: 10px; /* Optional: Adds a border-radius for a more app-like appearance */
    overflow-y: auto;
  }
}

.vfrc-header--button {
  display: none !important;
}

.vfrc-footer {
  border-top: 2px solid var(--shadows-shadow4);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Assistant messages should occupy more width */
.vfrc-system-response .vfrc-message {
  min-width: 100% !important; /* Minimum width */
  max-width: 100% !important; /* Maximum width to allow some space on the sides */
  margin: 10 auto !important; /* Center the message bubble */
  word-wrap: break-word !important; /* Prevents long words from overflowing */
  box-sizing: border-box !important; /* Include padding and borders in the width */
}

/* If you want to apply styles to both user and assistant messages */
.vfrc-message {
  min-width: 0% !important; /* Minimum width */
  max-width: 100% !important; /* Maximum width to allow some space on the sides */
  margin: 10 auto !important; /* Center the message bubble */
  word-wrap: break-word !important; /* Prevents long words from overflowing */
  box-sizing: border-box !important; /* Include padding and borders in the width */
  display: block !important; /* Ensure that the message is a block element */
  line-height: 1.5 !important; /* Adjust as needed for vertical centering */
}
